<!DOCTYPE html>
<html>
<head>
	<title>My Portfolio site</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<div class="title">
			<div class="name">
				RANIA IDRIS
			</div>
			<div class="des">
				Full-Stack Web Developer
			</div>
			
		</div>
	</header>

	<main class="main_photo">
		<div>About Me</div>
		<img src="" alt="aboutMe_photo">
	</main>

	<section class="projects">
		<div class="project1">
			project1
		</div>
		<div class="project2">
			project2
		</div>
		<div class="project3">
			project3
		</div>
		<div class="project4">
			project4
		</div>
	</section>

</body>
</html>