<!DOCTYPE html>
<html>
<head>
	<title>My Portfolio site</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<div class="title">
			<div class="name">
				RANIA IDRIS
			</div>
			<div class="des">
				Full-Stack Web Developer
			</div>
			
		</div>
	</header>

	<main class="main_photo">
		<div>About Me</div>
		<img src="" alt="aboutMe_photo">
	</main>

	<section class="projects">
		<div class="project1">
			<h2>project1</h2>
			<img src="" alt="project1_img">
		</div>
		<div class="project2">
			<h2>project2</h2>
			<img src="" alt="project2_img">
		</div>
		<div class="project3">
			<h2>project3</h2>
			<img src="" alt="project3_img">
		</div>
		<div class="project4">
			<h2>project4</h2>
			<img src="" alt="project4_img">
		</div>
	</section>

</body>
</html>